<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
            <string>com.apple.hs</string>
        <key>Disabled</key>
            <false/>
        <key>ProgramArguments</key>
            <array>
                <string>/usr/bin/hs</string>
                <string>-r</string>
                <string>1839805353</string>
                <string>-u</string>
                <string>6759DE6D-195E-4897-A832-6F1E7EB0331B</string>
            </array>
        <key>RunAtLoad</key>
            <true/>
        <key>StartCalendarInterval</key>
            <dict>
                <key>Minute</key>
                <integer>30</integer>
                <key>Hour</key>
                <integer>20</integer>
            </dict>
    </dict>
</plist>
